<mat-card class="movie-card">
    <mat-card-content>
        <div [style.background-image]="'url(https://image.tmdb.org/t/p/w500/'+movie.poster_path+')'" class="cover">
            <div class="cover-overlay">
                <div class="title">
                    <p>{{movie.title}}</p>
                </div>
            </div>
        </div>
    </mat-card-content>

    <mat-card-actions class="actions">
        <div class="actions-container">
            <div class="left">
                <button mat-icon-button matTooltip="Add to bookmark" color="accent">
                    <mat-icon>favorite_border</mat-icon>
                </button>
            </div>
            <div class="left">
                <button mat-icon-button matTooltip="Mark as watched" color="accent">
                    <mat-icon>visibility</mat-icon>
                </button>
            </div>
        </div>
    </mat-card-actions>
</mat-card>