.movie-card {
    padding: 0;
    width: 185px;
    height: 278px;
    margin: 5px 5px 10px 5px;
    cursor: pointer;
    overflow: hidden;
    border-radius: 5px;
}

.cover,
.cover-overlay {
    width: 185px;
    height: 280px;
    transition-duration: 0.5s;
}

.cover-overlay {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 1) 100%);
}

.cover {
    background-size: 185px 280px;
}

.title {
    bottom: 5px;
    position: absolute;
    height: 20px;
    width: 100%;
    padding: 0px 10px;
}

.title p {
    color: white;
    font-weight: bold;
}

.movie-card:hover .cover-overlay {
    background: rgba(23, 24, 27, 0.6);
}

.movie-card>.actions:last-child {
    width: 185px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    visibility: hidden;
}

.movie-card:hover>.actions:last-child {
    visibility: visible;
}

.actions .actions-container {
    display: flex;
    justify-content: space-between;
}